<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_Movie" />
                <binding name="BasicHttpBinding_IService_Review" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Wcf_Movie/Service_Movie/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Movie"
                contract="MovieService.IService_Movie" name="BasicHttpBinding_IService_Movie" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Wcf_Review/Service_Review/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_Review"
                contract="ReviewService.IService_Review" name="BasicHttpBinding_IService_Review" />
        </client>
    </system.serviceModel>
</configuration>